/* Customer brand identity */
body {
  background: url(../images/index-background.jpg) no-repeat center center fixed !important; /* Customer Background IMG */
  background-color: #000000 !important; /* Customer Background Color */
  background-size: cover !important;
}
html {
  color: #000000 !important; /* Customer Foreground Color */
  font-family: "Roboto", "Roboto", sans-serif !important; /* Customer Font */
}
/* ------------------------*/