header,main,footer {padding-left:240px}

@media only screen and (max-width: 992px) {header,main,footer {padding-left:0}}

ul.side-nav.leftside-navigation li {line-height: 44px;}

.tabs .indicator {background-color:#607d8b !important;}

#left-sidebar-nav span.badge.new{line-height: 20px; margin-top: 11px;}

.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{z-index: 9999;}

.ultra-small {font-size: 1.0rem; margin: 0; padding: 0;}

/* Dashboard Card Stats */
.stats-title {font-size: 1.2rem !important; line-height: 1.5 !important;}
#card-stats .card-stats-number {font-size: 1.8rem; line-height: 2.0rem; margin: 0.2rem 0 0.2rem 0; font-weight: 500;}
#card-stats .card-content {text-align: center;}
.card {overflow: hidden;}
/* ------------------*/

/* Captive Portal */
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {#captive-btn .btn {min-width: 200px !important;}}
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {#social-auth .btn {min-width: 250px !important;} #social-auth a {font-size: 0.8rem !important;}}
#social-auth .btn {min-width: 300px;}
#brand-logo {width:75%; padding-top: 2rem;}
/* ------------------*/


/* Country Selector*/
.ui-autocomplete {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  z-index: 10003;
  width: 100px;
  max-width: 100%;
  max-height: 650px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.ui-autocomplete .ui-menu-item {
  font-size: 16px;
  line-height: 22px;
  display: block;
  padding: 14px 16px;
  color: #26a69a;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #eee;
  color: #26a69a;
}
/* ------------------*/

/* Placeholder background fix */
::-webkit-input-placeholder {
  color:#666666
}
:-moz-placeholder {
  color:#666666
}
::-moz-placeholder {
  color:#666666
}
:-ms-input-placeholder {
  color:#666666
}
/* ------------------*/


nav.top-nav a.page-title {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 3rem;
	padding: 0;
	white-space: nowrap;
	left: 10%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
@media only screen and (max-width: 992px) { nav.top-nav a.page-title {left: 50% !important;}}


/*----------------------------------------
    Charts
------------------------------------------*/

#chart-dashboard {
  padding-top: 12px;
}
#chart-dashboard .card .card-content,
#card-stats .card .card-content,
#card-stats .card .card-action {
  padding: 10px 14px;  
}
#line-updated {
  /*background: #00bcd4;*/
}
.sample-chart-wrapper {
  width: 100%;
}
.chart-title {
  font-size: 1.6rem;
  font-weight: 300;
}
/* Revenue Chart */

.chart-revenue {
  float: right;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
}
.chart-revenue .chart-revenue-total {
  font-size: 0.9rem;
  margin: 0;
}
.chart-revenue .chart-revenue-per {
  font-size: 0.8rem;
  margin: 0;
}
.chart-revenue .chart-revenue-per i{
  position: relative;
  top: 5px;
}
.chart-revenue-switch {
  padding-top: 28px;
  padding-right: 10px;
  color: #fff;
  text-align: right;
}

/* line chart legend */
#trending-line-chart-legend {
  float: left;
  padding: 8px;
  border-radius: 3px;
}
.line-ul-legend {padding: 0; margin: 0;}
.line-li-legend {display: inline; margin-right: 10px; font-size: 0.9rem;}
.line-element-legend {
  content: "";
  margin-top: 6px;
  margin-right: 4px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #DDD;
}

/* doughnut chart */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {.doughnut-chart-status {display:none;}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {.doughnut-chart-status {display:none} #card-stats .card-stats-compare {font-size:0.8rem;}}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1440px) {.doughnut-chart-status {top:-75px !important;}}
@media only screen and (min-device-width: 1920px) {.doughnut-chart-status {top:-100px !important;}}

.doughnut-chart-status {
  position: relative;
  top: -90px;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  height: 0px;
  text-align: center;
}
.doughnut-chart-status p {
  margin-top: -5px;
}
.doughnut-chart-legend li{
  padding: 2px 0;
  font-size: 0.9rem;
}
.doughnut-chart-legend li:before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  float: left;
  margin-top: 6px;
  margin-right: 4px;
}
li.android:before {
  background: #F7464A;
}
li.windows:before {
  background: #46BFBD;
}
li.ios:before {
  background: #FDB45C;
}
li.other:before {
  background: #4CAF50;
}
a.button-collapse.top-nav {
  position: absolute;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;
}
/* trending bar chart */

.trending-bar-chart-wrapper {
  width: 100%;
}
.btn-move-up {
  position: relative;
  top: -28px;
  right: -18px;
  margin-right: 10px !important;
}
/* Flot Chart*/

.flotchart-placeholder {
  width: 100%;
  height: 300px;
  font-size: 13px;
  line-height: 1.2em;
}
#flotchart table {
  position: absolute;
  top: 13px;
  right: 17px;
  font-size: smaller;
  color: #545454;
  width: 100px;
}
#flotchart td,
th {
  padding: 5px;
}
/* xCharts */

.xchart-placeholder {
  width: 90%;
  height: 300px;
}
/*Sparkline*/

.tooltip-class {
  overflow: hidden;
  color: #fff;
  height: 20px;
  width: 30px;
}

/**/
#ct2-chart .ct-series.ct-series-a .ct-area{
  fill: #00BCD4;
}
#ct2-chart .ct-series.ct-series-a .ct-point{
  stroke:#00BCD4;
}
#ct2-chart .ct-series.ct-series-a .ct-line{
  stroke: #54E2F4;
}

/*visitor-stats-card*/

#visitor-stats-card .card-header .card-title {
  padding: 10px;
}
#visitor-stats-card .visitor-stats-card-title {
  margin: 0;
  font-weight: 300;
}
#visitor-stats-card .visitor-stats-card-date {
  font-size: 1.0rem;
  margin: 0;
}
#visitor-stats-card .visitor-stats-state {
  padding-bottom: 15px;
}
#visitor-stats-card .visitor-stats-state-two {
  border-left: 1px dashed #9e9e9e;
}
#visitor-stats-card .visitor-stats-icon {
  font-size: 2.2rem;
  display: block;
  -webkit-transform: rotate(90deg);
  /* Safari */
  
  -moz-transform: rotate(90deg);
  /* Firefox */
  
  -ms-transform: rotate(90deg);
  /* IE */
  
  -o-transform: rotate(90deg);
  /* Opera */
  
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3); 
  /* SASS Internet Explorer */
}
#visitor-stats-card .card-content-bg {
  /*background: url(../images/sample-1.jpg) no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#visitor-stats-card .card-content {
/*  background: rgba(0, 0, 0, 0.25);*/
}
#visitor-stats-card .visitor-stats-state-wrapper {
/*  margin: 0 0 100px 0 !important;*/
}

/*---- Font Awesome Colored-------*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
.social-icons .fa {font-size: 4rem !important;} .visitor-stats-card-title{font-size: 1.25rem !important;}
#visitor-stats-card .card-content {padding: 10px !important;} #visitor-stats-card .visitor-stats-state h4 {font-size: 1.5rem !important;}
.visitor-stats-state h5 {font-size: 1rem !important;font-weight: bold !important;}}

/*Change icons size here*/
.social-icons .fa {
  font-size: 6rem;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
  border-radius: 50%;
}
.social-icons.icon-rounded .fa{
  border-radius:5px;
}
.social-icons.icon-flat .fa{
  border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
.social-icons .fa-users{background-color:#e53935;}
.social-icons .fa-tags{background-color:#00b0ff;}
.social-icons .fa-user{background-color:#ffa000;}
.social-icons .fa-money{background-color:#81c784;}
