<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
      <!--[if IE]><link rel="shortcut icon" href="http://127.0.0.1/static/images/favicon.ico"><![endif]-->

      <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
      <link rel="apple-touch-icon-precomposed" href="http://127.0.0.1/static/images/apple-touch-icon-precomposed.png">

      <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
      <link rel="icon" href="http://127.0.0.1/static/images/favicon.ico">
      <title>BiZWi</title>
      <style type="text/css">
          .tabs .indicator {background-color:#607d8b !important;}
      </style>
    </head>

    <body class="" style="background-image: url(http://127.0.0.1/static/images/index-background.jpg);">
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      
      <script type="text/javascript">
        $(document).ready(function(){
          $(".button-collapse").sideNav();
          $('.collapsible').collapsible();
          $(".dropdown-button").dropdown();
        });
      </script>

  <header>
  </header>
  <main>
      <div class="container">
        <div class="row">
          <div class="col s12 m2 l2"><p>&nbsp;</p></div>
          <div class="col s12 m8 l8 center-align">
            <div class="container hide-on-med-and-down">
              <h1>BIZWI RETAIL ANALYTICS</h1>
              <p><h5>Learn about your customers, increase sales and protect your profits</h5></p>
            </div>
              <div class="container hide-on-large-only white-text">
                <h2>BIZWI RETAIL ANALYTICS</h2>
                <p><h5>Learn about your customers, increase sales and protect your profits</h5></p>
            </div>
          </div>
        <div class="col s12 m2 l2 hide-on-small-only"><p>&nbsp;</p></div>
        </div>
    <div class="row valign">
    <div class="col s12 m2 l2 hide-on-small-only"><p>&nbsp;</p></div>
    <div class="col s12 m8 l8 center-align">
      <ul class="tabs">
              <li class="tab col s3"><a class="active black-text" href="#test1">Register Store</a></li>
              <li class="tab col s3"><a class="black-text" href="#test2">Existing Store</a></li>
      </ul>
      <div>
        <div id="test1" class="col s12 white section z-depth-3" style="padding-bottom: 2rem;">
            <h2>Start Here!</h2>
            <p>Register your store to measure, analyze, improve and optimize the shopping experience of your customers.</p>
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">person_add</i>Register</a>
        </div>
        <div id="test2" class="col s12 white section z-depth-3" style="padding-bottom: 2rem;">
            <h3>Management dashboard</h3>
            <p>Manage your store, see metrics and contact your customers. Everything you need on a single page.</p>
            <a class="waves-effect waves-light btn-large"  href="admin"><i class="material-icons left">account_circle</i>Login</a>
        </div>
      </div>
    </div>
    <div class="col s12 m2 l2 hide-on-small-only"><p>&nbsp;</p></div>
    </div>
    <div class="row valign">
        <footer class="page-footer transparent">
          <div class="footer-copyright transparent">
            <div class="container center-align black-text">
            &copy; 2016 BIZWI SISTEMAS INFORMATICOS SL, All rights reserved. 
            </div>
          </div>
        </footer>
    </div>
      </div>  
  </main>
  </body>
</html>