{% load i18n %}
<!DOCTYPE html>
<html>
<!--================================================================================
Item Name: BiZWi Dashboard
Version: 1.0
(c)2016 BIZWI SISTEMAS INFORMATICOS SL, All rights reserved.
================================================================================ -->

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <!--[if IE]><link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico"><![endif]-->

    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico">
    <title>BiZWi - Registration</title>
    <style type="text/css">
        header, main, footer {
            padding-left: 0px
        }
    </style>
</head>

<body class="" style="background-image: url({{ STATIC_URL }}images/index-background.jpg);">
<script type="text/javascript">
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();
        $(".dropdown-button").dropdown();
    });
</script>

<header>
</header>
<main>
    <div class="container" style="padding-top: 5%;">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col s12 m2 l2"><p>&nbsp;</p></div>
            <div class="col s12 m8 l8 center-align white z-depth-3">
                <div>
                    <div class="container hide-on-med-and-down">
                        <h2>BIZWI RETAIL ANALYTICS</h2>

                        <p><h5>Learn about your customers, increase sales and protect your profits</h5></p>
                    </div>
                    <div class="container hide-on-large-only">
                        <h3>BIZWI RETAIL ANALYTICS</h3>

                        <p><h6>Learn about your customers, increase sales and protect your profits</h6></p>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="row valign">
            <footer class="page-footer transparent">
                <div class="footer-copyright transparent">
                    <div class="container center-align black-text">
                        &copy; 2016 BIZWI SISTEMAS INFORMATICOS SL, All rights reserved.
                    </div>
                </div>
            </footer>
        </div>
    </div>
</main>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/materialize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>