{% extends "base_admin.html" %}
{% load jsonify %}
{% load i18n %}
{% block css %}
    <link href="http://52.33.84.111/static/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="http://52.33.84.111/static/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <link href="http://52.33.84.111/static/css/cities.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-header">{% trans "Manage Cities" %}</h4>
        </div>
    </div>
        <a style="margin-bottom: 20px;" class="btn btn-success btn-lg" href="#"><i class="material-icons right">City</i>{% trans "Create new city" %}</a>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="cities">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="datatable table table-striped table-bordered" id="cities_tb">
                                <thead>
                                <tr>
                                    <th>{% trans "city_name" %}</th>
                                    <th>{% trans "Country" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="http://52.33.84.111/static/js/jquery.dataTables.min.js"></script>
    <script src="http://52.33.84.111/static/js/data-tables-script.js"></script>
    <script type='text/javascript'>
        var lang = '{{ request.session.lang }}';
        var localsData = {{ data|jsonify }};
        var url_cities = '#';
    </script>
    <script src="{{ STATIC_URL2 }}js/cities.js"></script>
{% endblock %}