{% extends "base_admin.html" %}
{% load jsonify %}
{% load i18n %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="page-header">
                {% if page == 'add' %}
                    {% trans "Add Employee" %}
                {% else %}
                    {% trans "Update Employee" %}
                {% endif %}
            </h4>
        </div>
    </div>

    {% if success %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {% trans "Employee has been saved successfully." %}
        </div>
    {% elif form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ form.non_field_errors }}
        </div>
    {% elif error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {% trans "Failed to save Employee. Try again later." %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" method="POST" id="form_promotion">
                        {% csrf_token %}

                        <div {% if form.username.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputUsername" class="col-sm-2 control-label">{% trans "Username" %}</label>

                            <div class="col-sm-10">
                                <input id="inputUsername" name="username" type="text" class="form-control"
                                       value="{{ employee.username }}" data-error="{% trans "Complete this field" %}"
                                       required>
                                {% for error in form.username.errors %}
                                    <label class="control-label" for="inputUsername">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div {% if form.email.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputEmail" class="col-sm-2 control-label">{% trans "Email" %}</label>

                            <div class="col-sm-10">
                                <input id="inputEmail" name="email" type="email" class="form-control"
                                       value="{{ employee.email }}" data-error="{% trans "Complete this field" %}"
                                       required>
                                {% for error in form.email.errors %}
                                    <label class="control-label" for="inputEmail">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div {% if form.checkpass.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %} id="checkdiv"
                                {% if page == 'add' %}
                             style="display: none;"
                                {% endif %}
                                >
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input id="inputCheckpass" name="checkpass" type="checkbox"
                                                {% if page == 'add' %}
                                               style="display: none;"
                                                {% endif %}
                                                > {% trans "Change password" %}
                                    </label>
                                    {% for error in form.checkpass.errors %}
                                        <label class="control-label" for="inputActive">{{ error|escape }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div {% if form.firstname.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputFirstname" class="col-sm-2 control-label">{% trans "First Name" %}</label>

                            <div class="col-sm-10">
                                <input id="inputFirstname" name="first_name" type="text" class="form-control"
                                       value="{{ employee.first_name }}" data-error="{% trans "Complete this field" %}"
                                       required>
                                {% for error in form.firstname.errors %}
                                    <label class="control-label" for="inputFirstname">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>


                        <div {% if form.lastname.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputLastname" class="col-sm-2 control-label">{% trans "Last Name" %}</label>

                            <div class="col-sm-10">
                                <input id="inputLastname" name="last_name" type="text" class="form-control"
                                       value="{{ employee.last_name }}" data-error="{% trans "Complete this field" %}"
                                       required>
                                {% for error in form.lastname.errors %}
                                    <label class="control-label" for="inputLastname">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div {% if form.phone.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputPhone" class="col-sm-2 control-label">{% trans "Phone" %}</label>

                            <div class="col-sm-10">
                                <input id="inputPhone" name="phone" type="text" class="form-control"
                                       value="{{ employee.phone }}">
                                {% for error in form.phone.errors %}
                                    <label class="control-label" for="inputPhone">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div id="passworddiv" {% if form.password.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}
                                {% if page == 'update' %}
                             style="display: none;"
                                {% endif %}
                                >
                            <label for="inputPassword" class="col-sm-2 control-label">{% trans "New Password" %}</label>

                            <div class="col-sm-8">
                                <input id="inputPassword" name="password" type="password" class="form-control"
                                        {% if page == 'update' %}
                                       value="null"
                                        {% else %}
                                       required
                                        {% endif %}
                                        >
                                {% for error in form.password.errors %}
                                    <label class="control-label" for="inputPassword">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>


                        <div {% if form.language.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputLanguage"
                                   class="col-sm-2 control-label">{% trans "Language" %}</label>

                            <div class="col-sm-10">
                                <select id="inputLanguage" name="language" class="form-control">
                                    {% for lang in languages %}
                                        <option value="{{ lang }}"{% if lang == language %}
                                                selected="selected"{% endif %}>{{ lang }}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.language.errors %}
                                    <label class="control-label" for="inputLanguage">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div {% if form.location.errors %}class="form-group has-error"
                             {% else %}class="form-group"{% endif %}>
                            <label for="inputLocation"
                                   class="col-sm-2 control-label">{% trans "Location" %}</label>

                            <div class="col-sm-10">
                                <select id="inputLocation" name="location" class="form-control">
                                    {% for loc in locations %}
                                        <option value="{{ loc.id }}"{% if loc == location %}
                                                selected="selected"{% endif %}>{{ loc.name }}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.location.errors %}
                                    <label class="control-label" for="inputLocation">{{ error|escape }}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="bt-send" type="" class="btn btn-primary">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Custom Scripts -->
<script type='text/javascript'>
    var lang = '{{ request.session.lang }}';
    var page = '{{ page }}';
    {% if page == 'update' %}
        $('#inputCheckpass').click(function () {
            var $this = $(this);
            // $this will contain a reference to the checkbox
            if ($this.is(':checked')) {
                $('#inputPassword').val('');
                $('#passworddiv').show();
                $('#inputPassword').prop('required', true);
            } else {
                $('#passworddiv').hide();
                $('#inputPassword').val('null');
                $('#inputPassword').prop('required', false);
            }
        });
    {% endif %}
</script>
{% endblock %}