{% extends "base.html" %}
{% load i18n %}

{% block css %}

{% endblock %}

{% block content %}

    {% if save_success %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {% trans "Data has been saved successfully." %}
        </div>
    {% elif change_success %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {% trans "Password changed succsessfully" %}
        </div>
    {% elif form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ form.non_field_errors }}
        </div>
    {% elif save_error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {% trans "Failed to save your data. Try again later." %}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <h4>Edit Profile</h4>

            <div id="information" class="col s12">
                <form class="col s12" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="inputFirstName" name="first_name" type="text"
                                   value="{{ first_name }}">
                            <label class="active" for="inputLastName">First Name</label>
                        </div>

                        <div class="input-field col s6">
                            <input id="inputLastName" name="last_name" type="text" class="validate"
                                   value="{{ last_name }}">
                            <label class="active" for="inputLastName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="inputEmail" name="email" type="email" class="validate"
                                   value="{{ email }}">
                            <label class="active" for="inputEmail">Email</label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="input-field col s12">
                            <select name="gender"  class="material-select">
                                <option value="" disabled>Choose your sex</option>
                                <option value="M" {% if gender == 'M' %} selected="selected" {% endif %} >Male</option>
                                <option value="F" {% if gender == 'F' %} selected="selected" {% endif %} >Female</option>
                            </select>
                            <label class="active" >Biological sex</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="birthday" type="date" class="datepicker">
                            <label class="active" for="inputBirthday">Birthday</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="lang" class="material-select">
                                <option value="" disabled>Choose your Language</option>
                                <option value="en" {% if lang == 'en' %} selected="selected" {% endif %}>English</option>
                                <option value="es" {% if lang == 'es' %} selected="selected" {% endif %}>Spanish</option>
                            </select>
                            <label>Language</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 l6 right-align">
                            <button class="btn waves-effect waves-light" type="submit" name="profileForm">Update
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <div id="password" class="col s12">
            <h4> Change Password</h4>
                <form class="col s12" method="POST">
                    {% csrf_token %}
                    <div {% if form.new_password1.errors %}class="form-group has-error"
                         {% else %}class="form-group"{% endif %}>
                        <label for="inputPassword" class="col-sm-4 control-label">{% trans "New password" %}</label>

                        <div class="col-sm-8">
                            <input id="inputPassword" name="new_password1" type="password" class="form-control">
                            {% for error in form.new_password1.errors %}
                                <label class="control-label" for="inputPassword">{{ error|escape }}</label>
                            {% endfor %}
                        </div>
                    </div>


                    <div {% if form.new_password2.errors %}class="form-group has-error"
                         {% else %}class="form-group"{% endif %}>
                        <label for="inputPassword_repeat"
                               class="col-sm-4 control-label">{% trans "Repeat new password" %}</label>

                        <div class="col-sm-8">
                            <input id="inputPassword_repeat" name="new_password2" type="password"
                                   class="form-control">
                            {% for error in form.new_password2.errors %}
                                <label class="control-label" for="inputPassword_repeat">{{ error|escape }}</label>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary"
                                    name="changePasswordForm">{% trans "Change password" %}</button>
                        </div>
                    </div>

                </form>
            </div>


        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            formatSubmit: 'yyyy-mm-dd',
            hiddenName: true
        });
    </script>
     <script type="text/javascript">
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });
    </script>

{% endblock %}

