{% extends "base_admin.html" %}
{% load jsonify %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/plugins/materialize-datatables/css/dataTables.materialize.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/plugins/data-tables/css/jquery.dataTables.min.css" media="screen,projection">
{% endblock %}
{% block content %}
    <div class="container">
    <h4>Visitors Statistics</h4>
      <!--DataTables in house-->
            <div id="table-datatables">
              <div class="row">
                <div class="col s12">
                  <table id="datatable-main-stat" class="responsive-table" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Device OS</th>
                            <th>Social network</th>
                            <th>Visits</th>
                            <th>Last connection</th>
                            <th>Is connected</th>
                        </tr>
                    </thead>
                 
                    <tbody>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{{ STATIC_URL }}images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
        </div>
    
          
{% endblock %}
{% block scripts %}
<!-- data-tables -->
<script type="text/javascript" src="{{ STATIC_URL }}js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plugins/materialize-datatables/js/dataTables.materialize.js"></script>
<!-- Custom Scripts -->
<script type='text/javascript'>
    $('#datatable-main-stat').DataTable();
</script>
{% endblock %}
