{% extends "base_admin.html" %}
{% load jsonify %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/plugins/materialize-datatables/css/dataTables.materialize.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
    <div class="container" style="width: 95%; max-width: 1500px;">
    <h4>Visitors Statistics</h4>
      <!--DataTables in house-->
        <div class="row" style="margin-bottom: 10px;">
            <div class="col s12 m6 l3">
                <div id="visitor-stats-card" class="card">
                    <div class="card-header red accent-1">
                      <div class="card-title">
                        <h5 class="visitor-stats-card-title">Visits this month</h5>
                      </div>
                    </div>
                    <div class="">
                      <div class="card-content">
                        <div class="row visitor-stats-state-wrapper valign-wrapper" style="margin-bottom: 0px;">
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state social-icons icon-circle">
                              <i class="fa fa-users"></i>
                            </div>
                          </div>
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state">
                              <h4 class="margin">50,000</h4>
                              <p class="ultra-small">visits this month</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div id="visitor-stats-card" class="card">
                    <div class="card-header light-blue accent-1">
                      <div class="card-title">
                        <h5 class="visitor-stats-card-title">Visitors Check-ins</h5>
                      </div>
                    </div>
                    <div class="">
                      <div class="card-content">
                        <div class="row visitor-stats-state-wrapper valign-wrapper" style="margin-bottom: 0px;">
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state social-icons icon-circle">
                              <i class="fa fa-tags"></i>
                            </div>
                          </div>
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state">
                              <h4 class="margin">50,000</h4>
                              <p class="ultra-small">check-ins this month</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div id="visitor-stats-card" class="card">
                    <div class="card-header amber accent-1">
                      <div class="card-title">
                        <h5 class="visitor-stats-card-title">New Visitors</h5>
                      </div>
                    </div>
                    <div class="">
                      <div class="card-content">
                        <div class="row visitor-stats-state-wrapper valign-wrapper" style="margin-bottom: 0px;">
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state social-icons icon-circle">
                              <i class="fa fa-user"></i>
                            </div>
                          </div>
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state">
                              <h4 class="margin">50,000</h4>
                              <p class="ultra-small">new visits this month</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div id="visitor-stats-card" class="card">
                    <div class="card-header green accent-1">
                      <div class="card-title">
                        <h5 class="visitor-stats-card-title">Promotion Check-ins</h5>
                      </div>
                    </div>
                    <div class="">
                      <div class="card-content">
                        <div class="row visitor-stats-state-wrapper valign-wrapper" style="margin-bottom: 0px;">
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state social-icons icon-circle">
                              <i class="fa fa-money"></i>
                            </div>
                          </div>
                          <div class="col s6 m6 l6 center-align valign">
                            <div class="visitor-stats-state">
                              <h4 class="margin">50,000</h4>
                              <p class="ultra-small">check-ins this month</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col s12 m6 l2">
                <div class="card-panel no-padding">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s6 m6 l6 center-align valign" style="padding-right: 0px;">
                        <div class="visitor-stats-state social-icons icon-flat">
                          <i class="fa fa-twitter"></i>
                        </div>
                      </div>
                      <div class="col s6 m6 l6 center-align valign" style="padding-left: 0px;">
                        <div class="visitor-stats-state">
                          <h5 class="margin">50,000</h5>
                          <p class="ultra-small">global accounts</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel no-padding">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s6 m6 l6 center-align valign" style="padding-right: 0px;">
                        <div class="visitor-stats-state social-icons icon-flat">
                          <i class="fa fa-twitter"></i>
                        </div>
                      </div>
                      <div class="col s6 m6 l6 center-align valign" style="padding-left: 0px;">
                        <div class="visitor-stats-state">
                          <h5 class="margin">50,000</h5>
                          <p class="ultra-small">accounts logins</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel no-padding">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s6 m6 l6 center-align valign" style="padding-right: 0px;">
                        <div class="visitor-stats-state social-icons icon-flat">
                          <i class="fa fa-facebook"></i>
                        </div>
                      </div>
                      <div class="col s6 m6 l6 center-align valign" style="padding-left: 0px;">
                        <div class="visitor-stats-state">
                          <h5 class="margin">50,000</h5>
                          <p class="ultra-small">global accounts</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel no-padding">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s6 m6 l6 center-align valign" style="padding-right: 0px;">
                        <div class="visitor-stats-state social-icons icon-flat">
                          <i class="fa fa-facebook"></i>
                        </div>
                      </div>
                      <div class="col s6 m6 l6 center-align valign" style="padding-left: 0px;">
                        <div class="visitor-stats-state">
                          <h5 class="margin">50,000</h5>
                          <p class="ultra-small">accounts logins</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel no-padding">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s6 m6 l6 center-align valign" style="padding-right: 0px;">
                        <div class="visitor-stats-state social-icons icon-flat">
                          <i class="fa fa-google-plus-square"></i>
                        </div>
                      </div>
                      <div class="col s6 m6 l6 center-align valign" style="padding-left: 0px;">
                        <div class="visitor-stats-state">
                          <h5 class="margin">50,000</h5>
                          <p class="ultra-small">global accounts</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel no-padding">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s6 m6 l6 center-align valign" style="padding-right: 0px;">
                        <div class="visitor-stats-state social-icons icon-flat">
                          <i class="fa fa-google-plus-square"></i>
                        </div>
                      </div>
                      <div class="col s6 m6 l6 center-align valign" style="padding-left: 0px;">
                        <div class="visitor-stats-state">
                          <h5 class="margin">50,000</h5>
                          <p class="ultra-small">accounts logins</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Montly Visits vs Trends</span>
                    <canvas id="chartjs-visitors" height="70"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="material-table">
                  <table id="datatable-main-stats" class="responsive-table bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Device OS</th>
                            <th>Social network</th>
                            <th>Visits</th>
                            <th>Last connection</th>
                            <th>Is connected</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Device OS</th>
                            <th>Social network</th>
                            <th>Visits</th>
                            <th>Last connection</th>
                            <th>Is connected</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>1</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>2</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>3</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>4</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>5</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>6</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>7</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>8</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>9</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>10</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>11</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="images/yuna.jpg" alt="username" class="circle responsive-img" style="height: 30px;"></td>
                            <td>John Doe</td>
                            <td>Windows</td>
                            <td>Google</td>
                            <td>12</td>
                            <td>12/21/2015 21:22</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
        </div>
    
          
{% endblock %}
{% block scripts %}
<!-- ChartJS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0-beta2/Chart.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plugins/chartjs/chartjs-data-visitors.js"></script>
<!-- data-tables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<!-- data table export buttons -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.18/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.18/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
<!-- Custom Scripts -->
<script type="text/javascript">
$(document).ready(function(){
    // Setup - add a text input to each footer cell
    $('#datatable-main-stats tfoot th').each(function(){
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    });
    // DataTable Init
    var table = $('#datatable-main-stats').DataTable({
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
    });
    // Apply the search
    table.columns().every(function(){
        var that = this;
 
    $( 'input', this.footer() ).on( 'keyup change', function () {
        if ( that.search() !== this.value ) {
            that
                .search( this.value )
                .draw();
            }
        });
    });
});
</script>
{% endblock %}
