{% extends "base_admin.html" %}
{% load jsonify %}
{% load i18n %}
{% block css %}

{% endblock %}
{% block content %}
    <div class="container">
        <h4>Create Stores</h4>

        <div class="row">


            <form class="form-horizontal" method="POST" id="basic_style">
                {% csrf_token %}

                <div {% if form.store_name.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputStoreName" class="col-sm-2 control-label">{% trans "Name" %}</label>

                    <div class="col-sm-10">

                        <input id="inputStoreName" name="store_name" type="text" class="form-control"
                               value="{{ store.store_name }}" data-error="{% trans "Complete this field" %}"
                                >
                        {% for error in form.store_name.errors %}
                            <label class="control-label" for="inputStoreName">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div {% if form.telephone.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputTelephone" class="col-sm-2 control-label">{% trans "Telephone" %}</label>

                    <div class="col-sm-10">

                        <input id="inputTelephone" name="telephone" type="text" class="form-control"
                               value="{{ store.city }}">
                        {% for error in form.telephone.errors %}
                            <label class="control-label" for="inputTelephone">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


                <div {% if form.web_site.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputWebsite" class="col-sm-2 control-label">{% trans "Website" %}</label>

                    <div class="col-sm-10">
                        <input id="inputWebsite" name="web_site" type="text" class="form-control"
                               value="{{ store.web_site }}">
                        {% for error in form.web_site.errors %}
                            <label class="control-label" for="inputWebsite">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


                <div {% if form.description.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputDescription" class="col-sm-2 control-label">{% trans "Description" %}</label>

                    <div class="col-sm-10">
                        <input id="inputDescription" name="description" type="text" class="form-control"
                               value="{{ store.description }}" data-error="{% trans "Complete this field" %}"
                                >
                        {% for error in form.description.errors %}
                            <label class="control-label" for="inputDescription">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


            </form>


            <form class="form-horizontal" method="POST" id="store_style">
                {% csrf_token %}

                <div {% if form.logo_url.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputLogo" class="col-sm-2 control-label">{% trans "Logo" %}</label>

                    <div class="col-sm-10">
                        <input id="inputLogo" name="logo_url" type="text" class="form-control"
                               value="{{ store.logo_url }}">
                        {% for error in form.logo_url.errors %}
                            <label class="control-label" for="inputLogo">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div {% if form.background_color.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputBackgrounColor"
                           class="col-sm-2 control-label">{% trans "Background Color" %}</label>

                    <div class="col-sm-10">
                        <input id="inputBackgrounColor" name="background_color" type="text" class="form-control"
                               value="{{ store.background_color }}" data-error="{% trans "Complete this field" %}"
                                >
                        {% for error in form.background_color.errors %}
                            <label class="control-label" for="inputBackgrounColor">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


                <div {% if form.foreground_color.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputForegroundColor"
                           class="col-sm-2 control-label">{% trans "Foreground Color" %}</label>

                    <div class="col-sm-10">
                        <input id="inputForegroundColor" name="foreground_color" type="text" class="form-control"
                               value="{{ store.foreground_color }}">
                        {% for error in form.foreground_color.errors %}
                            <label class="control-label" for="inputForegroundColor">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


                <div {% if form.background_img.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputBackgroundImg"
                           class="col-sm-2 control-label">{% trans "Background image" %}</label>

                    <div class="col-sm-10">
                        <input id="inputBackgroundImg" name="background_img" type="text" class="form-control"
                               value="{{ store.background_img }}">
                        {% for error in form.background_img.errors %}
                            <label class="control-label" for="inputBackgroundImg">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


                <div {% if form.font.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputFont"
                           class="col-sm-2 control-label">{% trans "Font" %}</label>

                    <div class="col-sm-10">
                        <input id="inputFont" name="font" type="text" class="form-control"
                               value="{{ store.font }}">
                        {% for error in form.font.errors %}
                            <label class="control-label" for="inputFont">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


            </form>


            <form class="form-horizontal" method="POST" id="store_location">
                {% csrf_token %}

                <div {% if form.country.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="selectCountry" class="col-sm-2 control-label">{% trans "Country" %}</label>
                    <select id="selectCountry" name="country" class="material-select">
                        <option value="AF">Barcelona</option>
                        <option value="AL">Madrid</option>
                    </select>
                </div>

                <div {% if form.city.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="selectCity" class="col-sm-2 control-label">{% trans "City" %}</label>
                    <select id="selectCity" name="city" class="material-select">
                        <option value="AF">Barcelona</option>
                        <option value="AL">Madrid</option>
                    </select>
                </div>

                <div {% if form.region.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputRegion" class="col-sm-2 control-label">{% trans "Region" %}</label>

                    <div class="col-sm-10">
                        <input id="inputRegion" name="region" type="text" class="form-control"
                               value="{{ store.region }}">
                        {% for error in form.region.errors %}
                            <label class="control-label" for="inputRegion">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div {% if form.address.errors %}class="form-group has-error"
                     {% else %}class="form-group"{% endif %}>
                    <label for="inputAddress" class="col-sm-2 control-label">{% trans "Address" %}</label>

                    <div class="col-sm-10">
                        <input id="inputAddress" name="address" type="text" class="form-control"
                               value="{{ store.address }}">
                        {% for error in form.address.errors %}
                            <label class="control-label" for="inputAddress">{{ error|escape }}</label>
                        {% endfor %}
                    </div>
                </div>


                <div class="row">

                    <div class="input-field col s6 l6 right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Update
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
{% block scripts %}

{% endblock %}